### Ignore thumbnails created by windows
Thumbs.db

### Ignore files build by Visual Studio
*.res
*.obj
*.pdb
*.aps
*.icf
*.idb
*.ncb
*.suo
*.tlb
*.tlh
*.ilk
*.exp
*.sdf
*.opensdf
*.log
*.tlog
*.ipch
*.opendb
*.db
*.vcxproj.user
[Dd]ebug/
[Rr]elease/
x64[Dd]ebug/
x64[Rr]elease/
Win64[Dd]ebug/
Win64[Rr]elease/
Win32[Dd]ebug/
Win32[Rr]elease/

### Ignore python compiled files
*.pyc
*.py[cod]

### Ignore files build by xcode
.DS_Store
._.*
xcuserdata/
project.xcworkspace/

### Ignore files build by QT
*.pro.user
[Bb]uild-*-[Dd]ebug/
[Bb]uild-*-[Pp]rofile/
[Bb]uild-*-[Rr]elease/

### Ignore specific files and directories
*.lnk
vsout/